# Operation
*oprand
*operators

In [2]:
print(5 + 2)

7

In [3]:
print(5 - 2)

3

In [4]:
print(5 * 2)

10

In [5]:
print(5/2) # float

2.5

In [7]:
print(5**2) # power

25

In [8]:
print(5//2) # floor division

2

In [9]:
print(7//2)

3

In [10]:
print(11 % 3) # modulus

2

# = equal operator
assign any value to variable (placeholder)
syntax:
'''variable_name = value'''
value any data type

In [12]:
school = "PIAIC"
batch = "36/37"
teacher = "Muhammad Qasim"
timing = "9 am to 12 pm"

print(id(school))
print(id(batch))
print(id(teacher))
print(id(timing))

PIAIC
36/37
Muhammad Qasim
9 am to 12 pm

In [13]:
name = "Muhammad Qasim"
print(name)

Muhammad Qasim

# use some pre defined functions 
*print()
*type()
*id()
*len()

In [14]:
name = "Muhammad Qasim"
print(type(name)) # data type
print(id(name)) # memory address
print(len(name)) # length (count number of characters)

<class 'str'>
1713308913392

In [15]:
name = "Muhammad Qasim"
teacher_name = "Muhammad Qasim"

print(id(name))
print(id(teacher_name))

1713309140656
1713308856944

In [16]:
a = "Pakistan"
b = "Pakistan"

print(id(a))
print(id(b))

1713329484464
1713329484464

# How to assign string variables in a value

In [38]:
name = "Muhammad Qasim" # 1
print(name,type(name))

Muhammad Qasim <class 'str'>

In [39]:
name = 'Muhammad Qasim' # 2
print(name,type(name))

Muhammad Qasim <class 'str'>

In [1]:
# We have to define special characters (/n /t)

data = 'name: \t\tMurtaza\nfather Name:\tMohammad Ali\nBatch: \t\t 36-37'
print(data)

name: 		Murtaza
father Name:	Mohammad Ali
Batch: 		 36-37

In [41]:
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tQasim\nfather\'s Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father's Name:	Muhammad Aslam
Batch:		 36-37

In [42]:
data = "PIAIC \" ss \" Pakistan zinda bad"
print(data)

PIAIC " ss " Pakistan zinda bad

In [43]:
name = "Muhammad \"Q\"asim" # 1
print(name,type(name))

Muhammad "Q"asim <class 'str'>

In [44]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Muhammad Qasim\nFather's Name:    Muhammad Aslam\nBatch:            36-37\n"

In [45]:
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [46]:
name

'Muhammad "Q"asim'

In [47]:
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [48]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply varialbe name rules

In [50]:
_1name = "qasim"
_1name

'qasim'

In [51]:
father_name1 = "Muhammad Aslam"
father_name1

'Muhammad Aslam'

In [52]:
father_Name1 = "Muhammad Aslam"
father_Name1

'Muhammad Aslam'

In [53]:
father_Name1 = "Muhammad Aslam"
father_Name1

'Muhammad Aslam'

In [55]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [56]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formattion

In [4]:
name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"

print(name, father_name, education, designation)

Murtaza Naqvi Mohammad Ali Software Engineer Artificail Intelligence

In [5]:
name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"

print(name, father_name, education, designation, sep="\n")

Murtaza Naqvi
Mohammad Ali
Software Engineer
Artificail Intelligence

In [6]:
print('a')
print('b')

a
b

In [61]:
name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"
height = 5.1

# + operator on string join two string variable
result = "PIAIC Teacher Card\n Name: " + name + "\n Father's Name: " + father_name + "\n Education: " + education + "\n Designation: " + designation + "\n Height: " + str(height)


print(result)

PIAIC Teacher Card
 Name: Murtaza Naqvi
 Father's Name: Mohammad Ali
 Education: Software Engineer
 Designation: Artificail Intelligence
 Height: 5.1

In [20]:

name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"
height = 5.1 #

data = """
Name = {}
Father's Name = {}
Education = {}
Designation = {}
Height = {}
""".format(name, father_name, education, designation, height) 
print(data)

Name = Murtaza Naqvi
Father's Name = Mohammad Ali
Education = Software Engineer
Designation = Artificail Intelligence
Height = 5.1

In [22]:

name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"
height = 5.1 #

data = """
Name = {4}
Father's Name = {0}
Education = {2}
Designation = {3}
Height = {1}
""".format(father_name,height,education,designation,name) # now we don't need to take cast
#                0        1       2          3       4
print(data)

Name = Murtaza Naqvi
Father's Name = Mohammad Ali
Education = Software Engineer
Designation = Artificail Intelligence
Height = 5.1

In [23]:

name = "Murtaza Naqvi"
father_name = "Mohammad Ali"
education = "Software Engineer"
designation = "Artificail Intelligence"
height = 5.1 #

data = f"""
Name = {name}
Father's Name = {father_name}
Education = {education}
Designation = {designation}
Height = {height}
"""
print(data)

Name = Murtaza Naqvi
Father's Name = Mohammad Ali
Education = Software Engineer
Designation = Artificail Intelligence
Height = 5.1

In [62]:
name

'Murtaza Naqvi'

In [64]:
int('100')

100

In [65]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [66]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: 1
1

In [67]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Murtaza Naqvi
Father's NameAli Naqvi
EducationPython
Your DesignationData Scientist
Your Height3.11

PIAIC Teacher Card
 Name: Murtaza Naqvi
 Father's Name: Ali Naqvi
 Education: Python
 Designation: Data Scientist
 Height:3.11